<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${pigeon?.id} ?: 'Pigeon Not Found'">Demo pigeon</title>
    <link href="../static/css/main.css" th:href="@{/css/main.css}" rel="stylesheet">
</head>
<body>
<div id="main">
    <a th:href="@{/pigeon}">Go back</a>
    <div id="pigeon_tree">
        <div id="pigeon">
            <div th:replace="templates :: pigeonDetail(${pigeon?.id},${pigeon?.description})">
                <a>Demo pigeon </a>
                <p>There is no better pigeon</p>
            </div>
        </div>
        <div id="mother">
            <div th:replace="${mother} ?
         ~{templates :: pigeonDetail(${mother?.id},${mother?.description})} :
          ~{templates :: emptyParent(${pigeon?.id},2)}">
                <a>PL-003</a>
                <p>Mother of the absolutely best pigeon</p>
            </div>
        </div>
        <div id="father">
            <div th:replace="${father} ?
         ~{templates :: pigeonDetail(${father?.id},${father?.description})} :
          ~{templates :: emptyParent(${pigeon?.id},1)}">
                <a>PL-010</a>
                <p>Father of an insanely good pigeon</p>
            </div>
        </div>
        <div id="motherMother">
            <div th:replace="${motherMother} ?
         ~{templates :: pigeonDetail(${motherMother?.id},${motherMother?.description})} :
          ~{}">
                <a>PL-001</a>
                <p>Oldest living pigeon in the world</p>
            </div>
        </div>
        <div id="motherFather">
            <div th:replace="${motherFather} ?
         ~{templates :: pigeonDetail(${motherFather?.id},${motherFather?.description})} :
          ~{}">
                <a>PL-002</a>
                <p>Biggest pigeon in the world</p>
            </div>
        </div>
        <div id="fatherMother">
            <div th:replace="${fatherMother} ?
         ~{templates :: pigeonDetail(${fatherMother?.id},${fatherMother?.description})} :
          ~{}">
                <a>PL-003</a>
                <p>Smartest pigeon in the world</p>
            </div>
        </div>
        <div id="fatherFather">
            <div th:replace="${fatherFather} ?
         ~{templates :: pigeonDetail(${fatherFather?.id},${fatherFather?.description})} :
          ~{}"></div>
        </div>
    </div>
    <br/>
    <div>
        <h1>Children</h1>
        <table>
            <tr>
                <th>Id</th>
                <th>Description</th>
            </tr>
            <tbody th:remove="all-but-first">
                <tr th:each="child : ${childrenList}">
                    <td><a th:href="@{/pigeon/{id}(id=${child.id})}" th:text="${child.id}"></a></td>
                    <td th:text="${child.description}"></td>
                </tr>
                <tr>
                    <td>PL-123</td>
                    <td>Super male pigeon</td>
                </tr>
                <tr>
                    <td>PL-234</td>
                    <td>Super female pigeon</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

</body>
</html>